<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>Books</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    />
  </head>
  <body>
    <div class="container" style="margin-top: 50px">
     <h5><%= id %> <%= name %></h5>   
      <div class="card">
        <div class="card-header">
          <ul class="nav nav-pills w-100">
            <li class="nav-pill active">
              <a class="nav-link">Books</a>
            </li>
            <li class="nav-pill ml-auto">
              <a class="nav-link active" href="/book_16/create">Add Book</a>
            </li>
          </ul>
        </div>
        <div class="card-body">
          <% if(data.length) { %>
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Id</th>
                <th scope="col">Name</th>
                <th scope="col">Author</th>
                <th scope="col">Price</th>
                <th width="200px">Action</th>
              </tr>
            </thead>
            <tbody>
              <% for(var i = 0; i< data.length; i++) { %>
              <tr>
                <th scope="row"><%= data[i].id %></th>
                <td><%= data[i].name%></td>
                <td><%= data[i].author%></td>
                <td>100</td>
                <td>
                  <a
                    class="btn btn-success edit"
                    href="/books_xx/edit/<%=data[i].id%>"
                    >Edit</a
                  >
                  <a
                    class="btn btn-danger delete"
                    onclick="return alert('Are You sure?')"
                    href="/books_xx/delete/<%=data[i].id%>"
                    >Delete</a
                  >
                </td>
              </tr>
              <% } %>
            </tbody>
          </table>
          <% } %>

          <!-- if result is empty -->
          <% if(!data.length) { %>
          <p class="text-center">No book found!</p>
          <% } %>
        </div>
      </div>
    </div>
  </body>
</html>