<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Crown Clothing</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <div class="header">
      <a href="/" class="logo-container">
        <img src="/assets/crown.svg" />
      </a>
      <div class="options">
        <a href="/overview.html" class="option">Shop</a>
        <a href="/shop" class="option">Contact</a>
        <a href="/logout" class="option">Logout</a>
        <a href="#" class="option"><%= id %></a>
        <div class="cart-icon" onclick="cartToggle()">
          <img class="shopping-icon" src="/assets/shopping-bag.svg" alt="" />
        </div>
        <div class="cart-dropdown">
          <div class="cart-items">
            <% for(let i=0; i<data.length; i++) { %>
              <div class="cart-item">
                <img src="<%= data[i].local_url %>" alt="item" />
                <div class="item-details">
                  <span class="name"><%= data[i].name %></span>
                  <span class="price"><%= data[i].amount %> * $<%= data[i].price %></span>
                </div>
              </div>
            <% } %>
           

            <div class="total">Total: $<%= total %></div>
          </div>
          <button class="custom-button">GO TO CHECKOUT</button>
        </div>
      </div>
    </div>

    <div class="homepage">
      <div class="directory-menu">
        <div class="menu-item">
          <img class="background-image" src="/img/homepage/hats.png" alt="" />
          <a href="/hats.html" class="content">
            <h1 class="title">HATS</h1>
            <span class="subtitle">SHOP NOW</span>
          </a>
        </div>
        <div class="menu-item">
          <img
            class="background-image"
            src="/img/homepage/jackets.png"
            alt=""
          />
          <a href="/jackets.html" class="content">
            <h1 class="title">JACKETS</h1>
            <span class="subtitle">SHOP NOW</span>
          </a>
        </div>
        <div class="menu-item">
          <img
            class="background-image"
            src="/img/homepage/sneakers.png"
            alt=""
          />
          <a href="/sneakers.html" class="content">
            <h1 class="title">SNEAKERS</h1>
            <span class="subtitle">SHOP NOW</span>
          </a>
        </div>
        <div class="large menu-item">
          <img
            class="background-image"
            src="/img/homepage/womens.png"
            alt=""
          />
          <a href="/womens.html" class="content">
            <h1 class="title">WOMENS</h1>
            <span class="subtitle">SHOP NOW</span>
          </a>
        </div>
        <div class="large menu-item">
          <img class="background-image" src="/img/homepage/mens.png" alt="" />
          <a href="/mens.html" class="content">
            <h1 class="title">MENS</h1>
            <span class="subtitle">SHOP NOW</span>
          </a>
        </div>
      </div>
    </div>

    <script>
      function cartToggle() {
        p = document.querySelector('.cart-dropdown');
        p.classList.toggle('show');
      }
    </script>
  </body>
</html>
